# ignore Matlab .asv files
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex.gz
*.tex.bak
*.bib.bak
*.fig


# ignore the result figures
data/SWB/result_figures/*
data/SWB/result_data/*
data/SWB/mat_file_dissimilarity/*
data/SWB/network-report-figures/*

# ignore the full MPTPTP2078 data set and the original first 356 problems
data/MPTPTP2078-full/
data/MPTPTP2078-356/

# ignore .mat files with -example
